*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
  background-color: lightgray
}
header{
  background-color: white;
  height: 100px;
  margin-bottom: 40px;
}
.immagine-logo{
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 10px;
}
h1{
  display: inline-block;
  vertical-align: middle;
  font-weight: 1000;
  font-size: 39px;
}
.barra-bottoni{
  width: 60%;
  height: 80px;
  background-color: white;
  margin: 0 auto;
}

.bottone{
  width: 80px;
  height: 40px;
  border-radius: 10px;
  margin: 20px 5px 20px;
}
.azzurro{
  background-color: blue;
  vertical-align: middle;
}
.lista-toboo{
  box-sizing: border-box;
  width: 60%;
  height: 800px;
  background-color: white;
  margin: auto;
  margin-top: 2px;
  padding: 20px;
}
li{
  padding: 10px;
}
.menu{
  list-style: none;
  font-size: 25px;
  font-weight: bold;
  border-left: 0;
  list-style: none;
}
.elenco{
  list-style: none;
  font-size: 18px;
  font-weight: 500;
}
.check{
  border: 2px solid green;
  color:green;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.cross{
  border: 2px solid red;
  color:red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: bold;
}
.evidenziato{
  border-radius: 10px;
  padding: 7px 10px;
  font-size: 11;
  color: white;
  margin: 10px 20px;
  font-weight: bold;
  }
.editoriale{
  background-color: blue;
}
.recruiting{
  background-color: green
}
.goals{
  background-color: pink;
}
.mobile{
  background-color: orange;
}
.website{
  background-color: purple;
}
.sales{
  background-color: lightgreen;
}
